<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.webank.working.web.dao.ProductDao">

	<resultMap type="com.webank.working.web.dto.Product" id="Product">    
	    <id column="ID" property="id"/>    
	    <result column="NAME" property="name"/>    
	    <result column="DESCRIPTION" property="description"/>    
	    <result column="QUANTITY" property="quantity"/>    
	</resultMap>
	
	<sql id="Base_Column_List">
         ID, NAME, DESCRIPTION, QUANTITY
  	</sql>

    <insert id="insert" parameterType="Product" useGeneratedKeys="true" keyColumn="id">  
       insert into product (NAME, DESCRIPTION, QUANTITY) values(#{NAME}, #{DESCRIPTION}, #{QUANTITY})  
    </insert>  
     
    <select id="getProductById" parameterType="int">  
       select 
       <include refid="Base_Column_List"/>
       from product where ID = #{ID}
    </select>
</mapper>  